@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.btn-animate {
    transition: all 0.3s ease;
}

.btn-animate:hover {
    transform: translateY(-2px) scale(1.03);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.6s ease-out;
}


.content-box {
    @apply bg-yellow-50 border-l-4 border-yellow-400
           p-4 rounded-lg text-sm font-mono;
}

.info-box {
    @apply bg-blue-50 border-l-4 border-blue-400
           p-4 rounded-lg;
}

.tip-box {
    @apply bg-green-50 border-l-4 border-green-500
           p-4 rounded-lg italic;
}




